body,html{
    position: relative; 
    margin: 0%;
    padding: 0%;
    height: 100%;
    display: block;
    overflow: hidden;
    background-image:url('background.jpg');
    background-repeat:no-repeat;
    background-position-x: calc(50%);
    background-position-y: calc(50%);
}

p{
    font-size: 48px;
    position: absolute;
    top: 5vh;
    left: calc(50% - 144px);
}

div{
    font-size: 48px;
    position: absolute;
    top: 35vh;
    left: calc(50% - 300px);
}

footer {
    font-size: .8rem;
    position: absolute;
    height: 5vh;
    bottom: 1vh;
    left: calc(50% - 80px);
}
